/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fe9;
}

body, h1, h2, h3, h4, h5 {
  font-family: Comic Sans MS, Patrick Hand, cursive;
}

.mixdoge {
  width: 512px;
  margin: 0 auto;
}

.mixdoge h1 {
  letter-spacing: -0.2em;
}

.mixdoge h1 span:nth-child(1) { color: #f90; }
.mixdoge h1 span:nth-child(2) { color: #f0f; }
.mixdoge h1 span:nth-child(3) { color: #09f; }
.mixdoge h1 span:nth-child(4) { color: #0f3; }
.mixdoge h1 span:nth-child(5) { color: #99f; }
.mixdoge h1 span:nth-child(6) { color: #00f; }
.mixdoge h1 span:nth-child(7) { color: #90f; }

/* Walkman */
.walkman {
  position: relative;
  width: 512px;
  height: 370px;
  margin: 0 auto;
}
.walkman-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 512px;
  height: 370px;
}
@-webkit-keyframes spin {
  to { transform: rotate(1turn); }
}
@-moz-keyframes spin {
  to { transform: rotate(1turn); }
}
@-o-keyframes spin {
  to { transform: rotate(1turn); }
}
@keyframes spin {
  to { transform: rotate(1turn); }
}
.tape-doge {
  position: absolute;
  -webkit-animation: spin 5s infinite; /* Safari 4+ */
  -moz-animation:    spin 5s infinite; /* Fx 5+ */
  -o-animation:      spin 5s infinite; /* Opera 12+ */
  animation:         spin 5s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.tape-doge-spin {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
.tape-doge-1 {
  width: 184px;
  top: 95px;
  left: 60px;
}
.tape-doge-2 {
  width: 176px;
  top: 100px;
  right: 60px;
}
.walkman-controls {
  position: absolute;
  right: 66px;
}
.walkman-controls button {
  float: left;
  border: 0;
  background: transparent;
  text-indent: -1000em;
  width: 57px;
  margin-left: 10px;
}
.progress {
  margin: 20px 0;
  color: #f0f;
  box-shadow: none;
  background-color: #fcf;
}
.progress-bar {
  background-color: #f0f;
}
.add {
  margin: 20px 0;
  text-align: center;
}
.add button {
  width: 160px;
  height: 64px;
  border: 0;
  text-indent: -1000em;
}
.add .add-url {
  background: url(../images/add-url.png) no-repeat center center;
  background-size: 160px 64px;
}
.add .soundcloud {
  background: url(../images/soundcloud.png) no-repeat center center;
  background-size: 160px 64px;
}
