<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">jukedoge</h3>
</div>

<div class="jumbotron">
  <h1>JukeDoge</h1>
  <p class="lead">
    <img src="images/doge_avatar.jpeg" alt="jukedoge"><br>
    So musik. Much songs. Wow
  </p>
  <p><button class="btn btn-lg btn-success" ng-click="logout()">Logout!</button></p>
</div>

<div class="row">
  <p><button class="btn btn-success" ng-click="addSong()">Add Song</button></p>

  <audio data-player-control="audioPlayer" data-playlist="playlist" audio-player>
  </audio>

  <div class="btn-group">
    <button type="button"
            class="btn btn-sm btn-primary"
            ng-click="audioPlayer.prev()">
      <i class="fa fa-backward"></i>
    </button>
    <button type="button"
            class="btn btn-sm btn-primary"
            ng-click="audioPlayer.pause()">
      <i class="fa fa-pause"></i>
    </button>
    <button type="button"
            class="btn btn-sm btn-primary"
            ng-click="audioPlayer.play()">
      <i class="fa fa-play"></i>
    </button>
    <button type="button" class="btn btn-sm btn-primary">
      <i class="fa fa-stop"></i>
    </button>
    <button type="button"
            class="btn btn-sm btn-primary"
            ng-click="audioPlayer.next(true)">
      <i class="fa fa-forward"></i>
    </button>
  </div>

  <ul>
    <li ng-repeat="song in playlistFirebase">
      {{ song.title }}
      <button class="btn btn-primary"
              ng-click="updateSong(song)">
        Favorite!
      </button>
      <button class="btn btn-primary"
              ng-click="removeSong($index)">
        Remove Song
      </button>
    </li>
  </ul>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
